@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#data-actual > #actual-fail {
  background: #ED5E61 !important;
  border-radius: 4px !important;
}

#data-actual > #actual-pass {
  background: #59B77A !important;
  border-radius: 4px !important;
}

#data-total span {
  padding: 35px 35px;
  width: 100px;
}

#data-target span {
  padding: 35px 35px;
  width: 100px;
}

#data-actual span {
  border-radius: 4px;
  width: 100px;
}

#trow span {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px; 
}

.header span {
  display: flex;
  flex-direction: column;
  width: 52px;
  height: 48px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #5A5A5A;
  padding: 13px 16px;
  width: 100px;
}

.header .header-items {
  padding: 7px;
  width: 52px;
  height: 48px;
}

.header {
  background: #F8F8F8;
}

